.footer {
  position: relative;
  width: 100%;
  background: #707070;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 53px;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 3rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
  color: rgba(0, 0, 0, 0.311);
}

.menu__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 500;
}

.menu__link:hover,::after,:active {
  opacity: 1;
  color: rgba(0, 0, 0, 0.311);
  text-decoration: none;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1.5rem;
  font-weight: 300;
  font-style: "Poppins", sans-serif;
}

@media screen and (max-width: 768px){
  .footer p{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .footer p span{
    padding-left: 45px;
  }
}


